<div>
  <div class="ion-text-center ion-padding-top">
    <ion-spinner color="primary" *ngIf="isLoading"></ion-spinner>
  </div>
  <ion-item *ngIf="address && !isLoading">
    <ion-label position="floating">Address</ion-label>
    <ion-input
            type="text"
            [value]="address"
    ></ion-input>
  </ion-item>
  <ion-button
          expand="full"
          color="primary"
          *ngIf="!isLoading && address"
          (click)="onPickLocation()">
    <ion-icon name="create" slot="icon-only"></ion-icon>
    Edit Location
  </ion-button>
  <ion-button
          expand="full"
          color="primary"
          *ngIf="!address && !isLoading"
          (click)="onPickLocation()">
    <ion-icon name="map" slot="start"></ion-icon>
    Select Location
  </ion-button>
</div>
